.hero-section {
  height: 320px;
  overflow: hidden;
}

.hero-image {
  height: 100%;
  object-fit: cover;
}

.card {
  display: inline-block;
  background-color: var(--orvian-background-gray);
  width: auto;
  min-width: fit-content;
}

.search-container {
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  max-width: 90%;
  z-index: 10;
  padding: 0 20px;
}

.form-control {
  color: var(--orvian-gray-003);
}

.btn {
  background-color: var(--orvian-button-button-background-color);
  color: var(--orvian-button-button-text-color);

  /* background-color: #1b9dbd;
  color: white; */
}

button:hover {
  background-color: var(--orvian-button-button-background-color-hover);
  color: var(--orvian-button-button-text-color-hover);

  /* background-color: white;
  color: #1b9dbd; */
}

.container-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
