        <div class="hero-section position-relative">
            <img src="assets/images/hero-image.png" 
                 alt="Praia Família" class="w-100 hero-image">
            <div class="search-container position-absolute">
                <div class="card shadow">
                                <div class="card-body p-4">
                                    <form>
                                        <div class="row align-items-center">
                                            <div class="col-12 col-md-3 mb-3 mb-md-2">
                                                <input type="text" class="form-control" placeholder="Onde vamos?" required>
                                            </div>
                                            <div class="col-12 col-md-3 mb-3 mb-md-2">
                                                <input type="date" id="checkinDate" class="form-control" required>
                                            </div>
                                            <div class="col-12 col-md-3 mb-3 mb-md-2">
                                                <select class="form-control">
                                                    <option selected>Quantas pessoas?</option>
                                                    <option>1 pessoa</option>
                                                    <option>2 pessoas</option>
                                                    <option>3 pessoas</option>
                                                    <option>4 pessoas</option>
                                                    <option>5+ pessoas</option>
                                                </select>
                                            </div>
                                            <div class="container-button col-12 col-md-3 mb-2">
                                                <button type="submit" class="btn btn-block font-weight-bold py-2 px-3" style="min-height: 38px;">Procurar</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
            </div>
        </div>