<div class="hero-section position-relative">
  <img
    src="assets/images/hero-image.png"
    alt="Praia Família"
    class="w-100 hero-image"
  />
  <div class="search-container">
    <div class="search-elements">
      <div class="input-with-icon">
        <img src="assets/icons/pin.svg" alt="Destino" class="input-icon">
        <input type="text" placeholder="Para onde vamos?">
      </div>
      <div class="input-with-icon">
        <img src="assets/icons/calendar-date.svg" alt="Data" class="input-icon clickable" (click)="openDatePicker()">
        <input type="date" #dateInput>
      </div>
      <div class="input-with-icon">
        <img src="assets/icons/user-circle.svg" alt="Pessoas" class="input-icon">
        <select>
          <option selected>Quantas pessoas?</option>
          <option>1 Pessoa</option>
          <option>2 Pessoas</option>
          <option>3 Pessoas</option>
          <option>4 Pessoas</option>
          <option>5+ Pessoas</option>
        </select>
      </div>
      <button>Procurar</button>
    </div>
  </div>
</div>
