<div class="container-fluid p-0">
    <div class="row no-gutters min-vh-100">
      <!-- Painel Esquerdo -->
      <div class="col-12 col-lg-6 bg-white d-flex flex-column align-items-center justify-content-center p-3 p-md-4 order-2 order-lg-1">
        <div class="align-self-start mb-3 d-none d-lg-block">
          <button class="btn btn-custom-brown text-white font-weight-bold">Voltar</button>
        </div>
        
        <div class="d-flex justify-content-center align-items-center mb-5 mb-lg-4 flex-grow-1">
          <img src="Frame 15.svg" alt="Ilustração" class="img-fluid mobile-illustration">
        </div>
        
        <div class="text-center text-lg-left w-100 mobile-text">
          <h2 class="h4 h-lg-3 font-weight-bold mb-2"></h2>
          <p class="text-muted mobile-description">
           
          </p>
        </div>
      </div>